@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto&display=swap');



header{
    width: 100%;
    background-color: grey;
    top: 0em;
    padding: 0px;
}

body{
    background-color: lightgrey;
}

 h1{
    text-align: center;
    color: #7BF80A;
    margin: 0px;
    font-size: 50px;
    width: 100%;
    font-family: 'Balsamiq Sans', cursive;
}

h2{
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    color:navy;
    
}



section div {
    
    width: 269px;
    height: 160px;
    display: inline-block;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div#seattle {
    background-color: #7BF80A;
    top: 0px;
}

div#tokyo{
    background-color: #7BF80A;
    margin: 0px;
}

div#dubai{
    background-color: #7BF80A;
}

div#paris {
    background-color: #7BF80A;
}

div#lima {
    background-color: #7BF80A;
}

nav{
    background-color:#7BF80A ;
    height: 40px;
    

}

ul{
    list-style-type: none;
    height: 40px;
    text-align: center;
    margin: 5px;
    text-decoration: solid;
    margin-top: 5px;
    overflow: hidden;
}

li{
    display: inline;
    text-align: center;
    text-decoration: solid;
    font-size: 25px;
    position: relative;
    margin-top: 50px;
    margin-right: 30px;
    

}

a {
    text-decoration: none;
    width: 100%;
    color: navy;

}

#mainImg {
    width: 100%;
}



footer{
    background-color: #7BF80A;
    color: navy;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.bodyimages{
    display: inline;
}

table{
    border: black solid 1px;

}

table th{
    background-color: #7BF80A ;
    border: black solid 2px;
    margin: 0px;
}

table tr{
    background-color: #ABF80A;
    color: white;
    border: black solid 2px;
}

table td{
font-family:Arial, Helvetica, sans-serif;
color: navy;
}

fieldset{
    width: 25%;
}