header{
    width: 100%;
    background-color: white;
    top: 0em;
    padding: 0px;
}

header h1{
    text-align: center;
    color: #7BF80A;
    margin: 0px;
    font-size: 50px;
    width: 100%;
}

#all-locations div{
    display: inline-block


div {
    background-color: #02F7AA;
    width: 200px;
    height: 500px;
}


nav{
    background-color:#7BF80A ;
    margin-top: 100px;
}

header a {
    background-color: #0AC4FC ;
    width: 100%;
}

main img {
    width: 100%;
}